<div class="mx-auto p-6 w-1/2">

  <h1 class="text-3xl font-bold mb-6">ToDo List</h1>

  <!-- Inline New Task Form -->
  <%= render 'form', task: Task.new %>

  <div class="flex border-b border-gray-200 mb-6">
  <!-- Search Bar -->
  <%= render 'search' %>

  <!-- Filters -->
  <%= render 'filters' %>

  </div>


  <div class="bg-white p-4 rounded-lg">
    <h2 class="text-xl font-semibold mb-4">Tasks</h2>
    <% if @tasks.any? %>
      <p class="text-gray-600 mb-4">Click on a task title to edit it inline.</p>
    <% else %>
      <p class="text-gray-400 italic mb-4">No tasks yet. Add your first task above!</p>
    <% end %>
    <turbo-frame id="tasks">
      <div class="space-y-4 mt-6 pr-2">
        <%= render @tasks %>
      </div>
    </turbo-frame>
  </div>

</div>